################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Relationales Datenmodell.xlsx
/MMWeedingBoard/.vs/MMWeedingBoard.slnx/FileContentIndex
/.vs/Weeding.slnx/FileContentIndex/b00f2a0a-cf1a-4a8f-82c6-267fb5b97c57.vsidx
/.vs/Weeding.slnx/FileContentIndex/c5d75e8c-0fe2-4b4d-be00-1a522ea2b7d2.vsidx
